<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<h3>Checkout</h3>


<section>
    <div class="container  mt-5">

        <a href="/addadress" class="btn btn-primary" role="button">Add Address</a>


        <div class="row ">
            {{#each addressData}}
            <div class="col-md-3 ">
                <div class="card " style="width: 18rem;">


                    <div class="card-body">
                        <div class="form-check">
                            <input type="radio" onclick="billingAddress('{{this._id}}')" class="form-check-input"
                                id="radio1" name="optradio" value="">
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                        <br>
                        <h5 class="card-title">{{this.firstName}}</h5>

                        <h6 class="card-subtitle mb-2 text-muted">{{this.lastName}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.phoneNumber}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.pincode}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.city}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.state}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.landMark}}</h6>

                        {{!-- <a href="editaddress/{{this._id}}" class="btn btn-primary" role="button"
                            id="editmodal">Edit</a> --}}


                    </div>

                </div>
                <br>
                <br>
            </div>


            {{/each}}

            {{!-- billing address div --}}
            <div class="container">


                <div class="row d-flex"></b>
                    <br>
                    <h1>Billing address</h1>
                    <br>
                    <div class="row">
                        <!--Card-->
                        <div class="col-md-8">
                            <div class="card">

                                <!--Card content-->

                                <div class="card-body">
                                    <form method="post" action="">
                                        <div class="form-row">
                                            <div class="col-6 form-group">
                                                <label for="inputAddress2">First Name</label>
                                                <input type="text" name="firstName" disabled class="form-control"
                                                    id="firstName" value="{{this.firstName}}">
                                            </div>
                                            <div class="col-6 form-group">
                                                <label for="inputAddress2">Last Name</label>
                                                <input type="text" name="lastName" disabled class="form-control"
                                                    id="lastName" value="{{this.lastName}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail4">Email</label>
                                            <input type="email" name="email" disabled class="form-control" id="email"
                                                value="{{this.email}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail4">Phone number</label>
                                            <input type="number" name="phoneNumber" disabled class="form-control"
                                                id="phoneNumber" value="{{this.phoneNumber}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress2">Address</label>
                                            <input type="text" name="address" disabled class="form-control" id="address"
                                                value="{{this.address}}">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">City</label>
                                                <input type="text" name="city" disabled class="form-control" id="city"
                                                    value="{{this.city}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputState">State</label>
                                                {{!-- <select id="inputState" class="form-control">
                                                    <option selected>Choose...</option>
                                                    <option value="Kerala">kerala</option>
                                                </select> --}}
                                                <input type="text" name="state" disabled class="form-control" id="state"
                                                    value="{{this.state}}">
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="inputZip">Zip</label>
                                                <input type="text" name="pincode" disabled class="form-control"
                                                    id="pincode" value="{{this.pincode}}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">Landmark</label>
                                                <input type="text" name="landmark" disabled class="form-control"
                                                    id="landmark" value="{{this.landmark}}">
                                            </div>
                                        </div>
                                        {{!-- <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                    Check me out
                                                </label>
                                            </div>
                                        </div> --}}

                                    </form>
                                </div>





                                <!--/.Card-->



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <!--Grid column-->
                                <div class="mb-4">

                                    <!-- Heading -->
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        {{!-- <span class="text-muted">Your cart</span> --}}
                                        <h2 class="pb-3">Your Cart</h2>
                                        {{!-- <span class="badge badge-secondary badge-pill">3</span> --}}
                                    </h4>

                                    <!-- Cart -->
                                    <ul class="list-group mb-3 z-depth-1">
                                        {{#each cartData.products}}
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">{{this.productId.name}}</h6>
                                                <small class="text-muted">x{{this.quantity}}</small>
                                            </div>
                                            <span class="text-muted">₹
                                                {{this.productId.sellingprice}}
                                            </span>

                                        </li>
                                        {{/each}}
                                        {{!-- <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Second product</h6>
                                                <small class="text-muted">Brief description</small>
                                            </div>
                                            <span class="text-muted">$8</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Third item</h6>
                                                <small class="text-muted">Brief description</small>
                                            </div>
                                            <span class="text-muted">$5</span>
                                        </li> --}}
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <div class="text-success">
                                                <h6 class="my-0">Promo code</h6>
                                                <small>EXAMPLECODE</small>
                                            </div>
                                            <span class="text-success">-₹5</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Total (USD)</span>
                                            <strong>₹{{cartData.grandTotal}}</strong>
                                        </li>
                                    </ul>
                                    <!-- Cart -->

                                    <!-- Promo code -->
                                    <form class="card p-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Promo code"
                                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary btn-md waves-effect m-0"
                                                    type="button">Redeem</button>
                                            </div>

                                        </div>
                                        {{!-- Option button --}}
                                        <div class="form-check">
                                            <input class="form-check-input payment" type="radio" name="payment"
                                                id="exampleRadios0" value="COD">
                                            <label class="form-check-label" for="exampleRadios1">
                                                COD
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input  payment" type="radio" name="payment"
                                                id="exampleRadios1" value="Online Payment ">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Online Payment
                                            </label>
                                        </div>

                                    </form>
                                    <!-- Promo code -->

                                </div>
                                <!--Grid column-->
                            </div>
                            <button id="confirmOrder" type="submit" class="btn btn-success"
                                onclick="confirmOrder()">Confirm </button>
                        </div>


                    </div>






                </div>

                <!--Address div-->


            </div>
        </div>

    </div>

    </div>

</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="jquery-3.6.0.min.js"></script>


<script>

    function billingAddress(addId) {
        console.log(addId)
        axios({
            url: '/billingAddress',
            method: 'post',
            data: {
                address: addId,
            }
        })
            .then(function (response) {
                console.log(response)
                document.getElementById('firstName').value = response.data.address.firstName
                document.getElementById('lastName').value = response.data.address.lastName

                document.getElementById('email').value = response.data.address.email
                document.getElementById('phoneNumber').value = response.data.address.phoneNumber

                document.getElementById('address').value = response.data.address.address;
                document.getElementById('city').value = response.data.address.city;
                document.getElementById('state').value = response.data.address.state;

                document.getElementById('pincode').value = response.data.address.pincode;
                document.getElementById('landmark').value = response.data.address.landMark


            })

            .catch(function (error) {

                console.log(error)
            })

    }



    function confirmOrder() {


        firstName = document.getElementById("firstName").value
        phoneNumber = document.getElementById("phoneNumber").value
        email = document.getElementById("email").value
        address = document.getElementById("address").value
        lastName = document.getElementById("lastName").value
        pincode = document.getElementById("pincode").value
        city = document.getElementById("city").value
        landMark = document.getElementById("landmark").value
        state = document.getElementById("state").value
        var paymentmethod = document.querySelector('input[name="payment"]:checked').value;
        alert(paymentmethod)

        axios({
            url: "/confirmOrder",
            method: "post",
            data: {
                firstName: firstName,
                lastName: lastName,
                address: address,
                pincode: pincode,
                email: email,
                city: city,
                landmark: landMark,
                phoneNumber: phoneNumber,
                state: state,
                paymentmethod: paymentmethod


            }
        }).then(function (response) {


            let razorpay = response.data.razorData

            if (response.data.status == 'COD') {
                location.replace("/orderConfirmation")
            }
            else {
                var options = {
                    "key": "rzp_test_kt3q2lRH2n4Wqf", // Enter the Key ID generated from the Dashboard
                    "amount": response.data.razorData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Acme Corp",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": response.data.razorData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        verifyPayment(response, razorpay);

                    },
                    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                    "prefill": {
                        "name": "Gaurav Kumar",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9999999999"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };

                var rzp1 = new Razorpay(options);
                document.getElementById('confirmOrder').onclick = function (e) {
                    rzp1.open();
                    e.preventDefault();
                    rzp1.on('payment.failed', function (response) {
                        alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);

                    });

                }
            }


        })
            //location.reload()
            .catch(function (error) {
                console.log(error)
            })

    }
    function verifyPayment(razorResponse, rData) {
        console.log(rData, "razordataaaaaaaaaaaaaaa")
        console.log('this is working');
        axios({
            url: '/verifyRazorpay',
            method: 'post',
            data: {
                razorResponse,
                rData
            }
        })
            .then(function (response) {

                if (response.status) {
                    location.replace('/orderConfirmation');
                }
            })


    }


</script>