<style>
    .modal-dialog {
        height: 50%;
        width: 50%;
        margin: auto;
    }

    .text1 {
        background-color: #0b0707;
        color: white;
        width: 20%;
        margin-top: 5%;
        text-align: center;
    }

    .icon2 {
        color: #110b0c;
    }

    .modal-header {
        color: white;
        background-color: #0e0b0b;

    }

    .openmodal {
        margin-left: 35%;
        width: 25%;
        margin-top: 25%;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

<head>

</head>
<h3>Checkout</h3>
<section>
    <div class="container  mt-5">
        <a href="/addadress" class="btn btn-primary" role="button">Add Address</a>
        <span id="spnError" class="error" style="display: none ; color:brown">Please select an Address.</span>
        <div class="row ">
            {{#each addressData}}
            <div class="col-md-3 ">
                <div class="card " style="width: 18rem;">
                    <div class="card-body">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="address"
                                value="{{this._id}}">
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                        <br>
                        <h5 class="card-title">{{this.firstName}}</h5>

                        <h6 class="card-subtitle mb-2 text-muted">{{this.lastName}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.phoneNumber}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.pincode}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.city}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.state}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.landMark}}</h6>

                        {{!-- <a href="editaddress/{{this._id}}" class="btn btn-primary" role="button"
                            id="editmodal">Edit</a> --}}
                    </div>
                </div>
                <br>
                <br>
            </div>


            {{/each}}

            {{!-- billing address div --}}
            <div class="container">


                <div class="row ">
                    <div class="row d-flex">
                        <!--Card-->

                        <div class="col-md-4">
                            <div class="">
                                <!--Grid column-->
                                <div class="mb-4 ">

                                    <!-- Heading -->
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        {{!-- <span class="text-muted">Your cart</span> --}}
                                        <h2 class="pb-3">Your Cart</h2>
                                        {{!-- <span class="badge badge-secondary badge-pill">3</span> --}}
                                    </h4>

                                    <!-- Cart -->
                                    <ul class="list-group mb-3 z-depth-1">
                                        {{#each cartData.products}}
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">{{this.productId.name}}</h6>
                                                {{cartData}}
                                                <small class="text-muted">x{{quantity}}</small>
                                            </div>
                                            <span class="text-muted">₹
                                                {{this.productId.sellingprice}}
                                            </span>

                                        </li>
                                        {{/each}}

                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <div class="text-success">
                                                <h6 class="my-0">Promo code</h6>
                                                <small id="couponCode">CODE</small>
                                            </div>
                                            <span class="text-success " id="offerprice"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between ">
                                            <span>Total (USD)</span>

                                            <strong id="totalAmount">₹{{cartData.grandTotal}}</strong>

                                        </li>
                                    </ul>
                                    <!-- Cart -->

                                    <!-- Promo code -->
                                    <!--Modal Content-->

                                    <form class="card p-2" id="myform">


                                        <div class="input-group">

                                            <input type="text" id="couponID" class="form-control mt-4"
                                                placeholder="Promo code" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">

                                            <div>

                                                <a href="/admin/ShowAllCoupon" type="button"
                                                    class="text-success text-bolder" data-toggle="modal"
                                                    style="font-weight:bold ;" data-target="#myModal">Show Coupons</a>

                                                <div class="input-group-append">

                                                    <button class="btn btn-secondary btn-md waves-effect m-0"
                                                        type="button"
                                                        onclick="couponValidator('{{cartData.grandTotal}}')">Redeem</button>
                                                </div>
                                            </div>

                                        </div>
                                        <span>
                                            <p class="form-control pt-2 pl-3" type="text"
                                                style="color:rgb(7, 6, 6) ;font-weight: bold" id="couponValue">Check
                                                coupons!</p>
                                        </span>
                                        {{!-- Option button --}}

                                        <p class="pm" style="color:rgb(7, 6, 6) ;font-weight: bold; text-align-center">
                                            Payment Method </p>
                                        <div class="form-check">
                                            <input class="form-check-input payment" required type="radio" name="payment"
                                                id="exampleRadios0" value="COD">
                                            <label class="form-check-label" for="exampleRadios1">
                                                COD
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input  payment" required type="radio"
                                                name="payment" id="exampleRadios1" value="Online Payment">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Online Payment
                                            </label>
                                        </div>

                                    </form>
                                    <!-- Promo code -->
                                </div>
                                <!--Grid column-->
                            </div>

                            <span id="spnError1" class="error" style="display: none; color:brown">Please select a
                                payment
                                Method.</span>
                            <div class="d-flex justify-content-end mb-4">

                                <button id="confirmOrder" type="submit" class="btn btn-success"
                                    onclick="confirmOrder()">Confirm </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--Modal Launch Button-->
    <div class="modal " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog pt-5 mt-5">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{#each couponData}}
                    <div class="card text-center m-5" style="background-color: #eee9e2;">
                        <div class="card-header">
                            {{couponName}}
                        </div>
                        <div class="card-body p-5" style="background-color: #ffff;">
                            <h5 class="card-title">{{couponCode}}</h5>
                            <p class="card-text">You have coupon worth {{discountAmount}},redeem it right know your
                                purchase of {{minAmount}}</p>
                            <a href="" class="btn btn-primary" style="background-color: #ae7e2b; border: #B19361;"
                                onclick="copyFunction('{{couponCode}}')">Copy Code</a>
                        </div>
                        <div class="card-footer text-muted">
                            Expiry Date:{{formatString expiryDate}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        {{!--
        <!--Division for Modal-->
        <div id="myModal" class="modal fade" role="dialog">

            <div class="modal-dialog">

                <!--Modal Content-->
                <div class="modal-content">

                    <!-- Modal Header-->
                    <div class="modal-header">
                        <h3>Discount offer: 10% off</h3>

                        <!--Close/Cross Button-->
                        <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
                    </div>

                    <!-- Modal Body-->
                    <div class="modal-body">
                        <div class="row">

                            <!--Gift Icon-->
                            <div class="col text-center">
                                <i class="fa fa-gift fa-4x icon2"></i>
                            </div>

                            <!--Modal Text-->

                            <div class="col-8">
                                <p>We care for our visitors and from time to time we provide small gifts to them. You
                                    are
                                    the lucky one
                                    today!</p>
                                <h6>
                                    Hurry! Copy the below code and use it at checkout</u>
                                </h6>
                                {{#each couponData}}

                                <h6 class="text1 col-12">{{this.couponCode}}</h6>
                                {{/each}}
                            </div>

                        </div>
                    </div>


                    <!-- Modal Footer-->
                    <div class="modal-footer">
                        <a href="" class="btn btn-dark">Get it now
                            <i class="fa fa-gem"></i>
                        </a>
                        <a href="" class="btn btn-outline-dark" data-dismiss="modal">No, thanks</a>
                    </div>

                </div>

            </div>
        </div> --}}



</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#confirmOrder").click(function () {
            //Set the Valid Flag to True if one RadioButton from the Group of RadioButtons is checked.
            var isValid = $("input[name=payment]").is(":checked");
            var isValid = $("input[name=address]").is(":checked");
            //Display error message if no RadioButton is checked.
            $("#spnError")[0].style.display = isValid ? "none" : "block";
            $("#spnError1")[0].style.display = isValid ? "none" : "block";
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>




<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>



    function confirmOrder() {


        var address = document.querySelector('input[name="address"]:checked').value;
        var paymentMethod = document.querySelector('input[name="payment"]:checked').value;


        axios({
            url: "/confirmOrder",
            method: "post",
            data: {
                paymentMethod,
                address
            }
        }).then(function (response) {
            console.log(response.data)
            let razorpay = response.data
            if (response.data.status == 'COD') {
                location.replace("/orderConfirmation")
            }
            else {
                var options = {
                    "key": "rzp_test_kt3q2lRH2n4Wqf", // Enter the Key ID generated from the Dashboard
                    "amount": razorpay.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Acme Corp",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": razorpay.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        verifyPayment(response, razorpay);

                    }, "modal": {
                        "ondismiss": function () {
                            axios.post('/verifyRazorpay', {
                                failed: true,
                                razorpay: razorpay.id
                            }).then(e => {
                                swal(e.data.message)
                            })
                        }
                    },
                    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                    "prefill": {
                        "name": "Gaurav Kumar",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9999999999"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };

                var rzp1 = new Razorpay(options);
                document.getElementById('confirmOrder').onclick = function (e) {
                    rzp1.open();
                    e.preventDefault();
                    rzp1.on('payment.failed', function (response) {
                        axios.post('/verifyRazorpay', {
                            failed: true,
                            razorpay: razorpay.id
                        }).then(e => {
                            swal(e.data.message)
                        })

                    });

                }
            }


        })

            .catch(function (error) {
                console.log(error)
            })

    }
    function verifyPayment(response, rData) {

        axios({
            url: '/verifyRazorpay',
            method: 'post',
            data: {
                response,
                rData
            }
        })
            .then(function (response) {

                if (response.status) {
                    location.assign('/orderConfirmation');
                }
            })


    }

    function couponValidator(total) {

        //totalAmount = document.getElementById('totalAmount').textContent
        couponId = document.getElementById('couponID').value
        console.log(total, couponId)
        axios({
            url: '/couponValidation',
            method: 'post',
            data: {
                couponId: couponId,
                total: total
            }
        })
            .then(function (response) {
                console.log(response);
                console.log(response.data.discountAmount)


                if (response.data.message == 'The coupon is used already') {
                    document.getElementById("totalAmount").textContent = total;
                    document.getElementById("offerprice").textContent = "NIL";
                    document.getElementById("couponCode").textContent = "NIL";

                    document.getElementById('couponValue').innerHTML = "<span style='color: green;font-weight: bold'>Coupon Already Used!</span>";
                }
                else if (response.data.message == 'Sorry the coupon has expired') {
                    document.getElementById("totalAmount").textContent = total;
                    document.getElementById("offerprice").textContent = "NIL";
                    document.getElementById("couponCode").textContent = "NIL";

                    document.getElementById('couponValue').innerHTML = "<span style='color: green;font-weight: bold'>Coupon Expired!</span>";
                }
                else if (response.data.message == 'Less Than Minimum') {
                    document.getElementById("totalAmount").textContent = total;
                    document.getElementById("offerprice").textContent = "NIL";
                    document.getElementById("couponCode").textContent = "NIL";

                    document.getElementById('couponValue').innerHTML = "<span style='color: green;font-weight: bold'>Add Items to Cart!</span>";
                }
                else if (response.data.message == 'Succesfull') {
                    document.getElementById("totalAmount").textContent = response.data.newTotal;
                    document.getElementById("offerprice").textContent = response.data.discountAmount;
                    document.getElementById("couponCode").textContent = response.data.couponCode;

                    document.getElementById('couponValue').innerHTML = "<span style='color: green; font-weight: bold'>Coupon Applied!</span>";
                }
                else if (response.data.message == 'invalid coupon') {
                    document.getElementById("totalAmount").textContent = total;
                    document.getElementById("offerprice").textContent = "NIL";
                    document.getElementById("couponCode").textContent = "NIL";

                    document.getElementById('couponValue').innerHTML = "<span style='color: red;font-weight: bold'>Invalid Coupon!</span>";
                }

            })




    }



    function copyFunction(couponId) {
        event.preventDefault()


        navigator.clipboard.writeText(couponId);
    }
</script>